body {
    margin: 0;
    background-image: url("http://www.planwallpaper.com/static/images/i-should-buy-a-boat.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-item a:link, .nav-item a:visited {
    background-color: #3F4142;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: darkorange;
}

#mainWrapper {
    border: 1px solid black;
    width: 70%;
    margin-left: 17%;
    background-color: white;
    opacity: 0.95;
}

.wrapper {
    width: 902px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 902px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}

/* --------------------- HEADER AREA -------------------------- */
.header {
    width: 902px;
    height: 40px;
    margin-bottom: 64px;
}

.leftheader {
    width: 500px;
    float: left;
    text-align: left;
    height: 50px;
}

.rightheader {
    width: 300px;
    float: right;
    text-align: right;
    height: 50px;
}

ul {
    float: left;
}

li {
    font-family: Arial;
    text-align: left;
    font-size: 13px;
}

li.nav-item {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

/* --------------------- CONTENT AREA -------------------------- */
.concerts {
    width: 430px;
    float: left;
    text-align: justify;
    padding-bottom: 20px;
}

.details {
    border: 3px solid black;
    width: 50%;
}

.pictures {
    width: 430px;
    float: right;
    text-align: justify;
    padding-bottom: 20px;
}

form {
    width: 190px;
}

comment {
    width: 300px;
    height: 400px;
}

.welcome {
    color: darkblue;
    font-weight: bold;
    font-size: 1.7em;
}

.contcertpicture {
    width: 430px;
    height: 200px;
    float: right;
    text-align: justify;
    padding-top: 20px;
}

.orderconcert {
    width: 910px;
    float: right;
    text-align: center;
    height: 50px;
}

.order_link {
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
}

td {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.series {
    vertical-align: top;
}

.title {
    color: darkblue;
    font-weight: bold;
    font-size: 1.5em;

}

/* --------------------- FOOTER AREA -------------------------- */
.footer {
    width: 902px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    height: 50px;
    text-align: center;
    border-bottom: thick double #000000;
}